node_modules
.next
out
build
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*
!.env.example
.git
.gitignore
.idea
.vscode
.DS_Store
Thumbs.db
coverage
*.md
Dockerfile
.dockerignore
